<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
<!-- 사용할 DB 선언 내용 -->
	<properties>
		<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>

		<property name="url" value="jdbc:oracle:thin:@192.168.16.15:1521:TestDB"/>
		<property name="username" value="god"/>
		<property name="password" value="god"/>
	</properties>
	<!-- 환경설정 파일 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<!-- 사용자 정의 sql 파일 -->
	<mappers>
		<mapper resource="com/sajo/mapper/basketMapper.xml"/>
		<mapper resource="com/sajo/mapper/commentMapper.xml"/>
		<mapper resource="com/sajo/mapper/completedMapper.xml"/>
		<mapper resource="com/sajo/mapper/groupMapper.xml"/>
		<mapper resource="com/sajo/mapper/ideaMainMapper.xml"/>
		<mapper resource="com/sajo/mapper/imageMapper.xml"/>
		<mapper resource="com/sajo/mapper/inventMapper.xml"/>
		<mapper resource="com/sajo/mapper/loginMapper.xml"/>	
		<mapper resource="com/sajo/mapper/memberMapper.xml"/>
		<mapper resource="com/sajo/mapper/productMapper.xml"/>
		<mapper resource="com/sajo/mapper/purchaseMapper.xml"/>
		<mapper resource="com/sajo/mapper/contributionMapper.xml"/>
	</mappers>
</configuration>