<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.sajo.comment">

<select id="maxNum" resultType="int">
	select nvl(max(cmNum),0) from boardcomment
</select>

<insert id="insertData" parameterType="com.sajo.dto.CommentDTO">
	insert into boardcomment(cmNum,gNo,gNum,cmRecomm,cmId,
	cmContent,cmCreated,boardName) values (#{cmNum},#{gNo},#{gNum},0,#{cmId},
	#{cmContent},sysdate,#{boardName})
</insert>

<select id="getDataCount" parameterType="int" resultType="int">
	select nvl(count(*),0) from boardcomment where gNum = #{gNum}
</select>

<select id="getLists" parameterType="hashMap" resultType="com.sajo.dto.CommentDTO">
	select * from(
	select rownum rnum, data.* from (
	select cmNum,gNum,cmId,cmContent,to_char(cmCreated,'YYYY-MM-DD') cmCreated,cmRecomm
	from boardcomment where gNum=#{gNum} order by cmNum desc) data)
<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
]]>
</select>

<!-- 한개의 데이터 -->
<select id="getReadData" parameterType="int" resultType="com.sajo.dto.CommentDTO">
	select cmNum,gNo,gNum,cmRecomm,cmId,
	cmContent,cmCreated,boardName from boardcomment where cmNum=#{cmNum}
</select>

<!-- 베스트 추천글  -->

<select id="getbestRecomm" parameterType="int" resultType="com.sajo.dto.CommentDTO">
	select * from (select rownum rnum ,data.* from  (select * from boardComment where gNum=#{gNum} order By cmRecomm desc) data) where rnum=1

</select>

<!-- 데이터 수정 -->
<update id="updateData" parameterType="com.sajo.dto.CommentDTO">
	update boardcomment set cmContent=#{cmContent} where cmNum=#{cmNum}
</update>

<update id="updaterecomm" parameterType="int">

	update boardcomment set cmRecomm = cmRecomm +1 where cmNum=#{cmNum}

</update>

<!-- 데이터 삭제 -->
<delete id="deleteData" parameterType="int">
	delete boardcomment where cmNum=#{cmNum}
</delete>

</mapper>