<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.sajo.completed">
	
<!-- gNum의 최대값 -->
<select id="maxNum" resultType="int">
	select nvl(max(cpNum),0) from complete	
</select>

<!-- gNum의 최대값 -->
<select id="gnoMaxNum" resultType="int">
	select nvl(max(gNo),0) from complete	
</select>

<!-- 데이터 입력 -->
<insert id="insertData" parameterType="com.sajo.dto.CompletedDTO">
	insert into complete (gNo,cpNum,cHitCount,mid,ccategory,cprice,cSubject,imgnum,
	cContent,cCreated,cRecomm) values (#{gNo},#{cpNum},0,#{mid},#{cCategory},#{cPrice},#{cSubject},#{imgNum},
	#{cContent},sysdate,0)
</insert>

<!-- 전체데이터 갯수 -->
<select id="getDataCount" resultType="int">
	select nvl(count(*),0) from complete
</select>

<!-- 모든 데이터 -->
<select id="getLists" parameterType="hashMap" resultType="com.sajo.dto.CompletedDTO">
	select * from (
	select rownum rnum, data.* from(
	select cpNum,mId,cSubject,cHitCount,to_char(cCreated,'YYYY-MM-DD') cCreated,imgnum,cprice
	from complete where ${searchKey} like '%' || #{searchValue} || '%'
	order by cpNum desc) data)
<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
]]>
</select>

<!-- 조회수 수정 -->
<update id="updateHitCount" parameterType="int">
	update complete set cHitCount=cHitCount+1 where cpNum=#{cpNum}
</update>

<!-- 한개의 데이터 -->
<select id="getReadData" parameterType="int" resultType="com.sajo.dto.CompletedDTO">
	select gNo,cpNum,cHitCount,mId,cSubject,imgNum,
	cContent,cCreated from complete where cpNum=#{cpNum}
</select>

<!-- 데이터 수정 -->
<update id="updateData" parameterType="com.sajo.dto.CompletedDTO">
	update complete set cSubject=#{cSubject},
	cContent=#{cContent} where cpNum=#{gNum}
</update>

<!-- 데이터 삭제 -->
<delete id="deleteData" parameterType="int">
	delete completed where cpNum=#{cpNum}
</delete>

<delete id="c_deleteData" parameterType="int">
	delete boardcomment where cpNum=#{cpNum}
</delete>

<select id="getbest" parameterType="int" resultType="com.sajo.dto.CompletedDTO">
	select * from (
	select rownum rnum, data.* from(
	select cpNum,gno,mid,crecomm,chitcount,ccategory,cprice,csubject,ccontent,to_char(cCreated,'YYYY-MM-DD') cCreated, imgnum 
	from complete order by crecomm desc) data)
<![CDATA[
	where rnum>=1 and rnum<=3
]]>
</select>

<!-- 추천수 +1 -->
<update id="updateRecomm" parameterType="int">
	update complete set crecomm=crecomm+1 where cpNum=#{cpNum}
</update>

<!-- 추천수 프린트 -->
<select id="getRecomm" resultType="int" parameterType="int">
	select crecomm from complete where cpNum=#{cpNum}
</select>


	
</mapper>