<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.sajo.mapper">
	
<!-- gNum의 최대값 -->
<select id="maxNum" resultType="int">
	select nvl(max(gNum),0) from ideaGroup	
</select>

<!-- gNum의 최대값 -->
<select id="gnoMaxNum" resultType="int">
	select nvl(max(gNo),0) from ideaGroup	
</select>

<!-- 데이터 입력 -->
<insert id="insertData" parameterType="com.sajo.dto.GroupDTO">
	insert into ideaGroup(gNo,gNum,gHitCount,mId,gSubject,imgnum,
	gContent,gCreated,boardName,gRecomm) values (#{gNo},#{gNum},0,#{mId},#{gSubject},#{imgNum},
	#{gContent},sysdate,#{boardName},0)
</insert>

<!-- 전체데이터 갯수 -->
<select id="getDataCount" parameterType="hashMap" resultType="int">
	select nvl(count(*),0) from ideaGroup
	where ${searchKey} like '%' || #{searchValue} || '%'
</select>

<!-- 모든 데이터 -->
<select id="getLists" parameterType="hashMap" resultType="com.sajo.dto.GroupDTO">
	select * from (
	select rownum rnum, data.* from(
	select gNum,mId,gSubject,gHitCount,to_char(gCreated,'YYYY-MM-DD') gCreated
	from ideaGroup where ${searchKey} like '%' || #{searchValue} || '%'
	order by gNum desc) data)
<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
]]>
</select>

<!-- 조회수 수정 -->
<update id="updateHitCount" parameterType="int">
	update ideaGroup set gHitCount=gHitCount+1 where gNum=#{gNum}
</update>

<!-- 한개의 데이터 -->
<select id="getReadData" parameterType="int" resultType="com.sajo.dto.GroupDTO">
	select gNo,gNum,gHitCount,mId,gSubject,imgNum,
	gContent,gCreated,boardName from ideaGroup where gNum=#{gNum}
</select>

<!-- 데이터 수정 -->
<update id="updateData" parameterType="com.sajo.dto.GroupDTO">
	update ideaGroup set gSubject=#{gSubject},
	gContent=#{gContent} where gNum=#{gNum}
</update>

<!-- 데이터 삭제 -->
<delete id="deleteData" parameterType="int">
	delete ideaGroup where gNum=#{gNum}
</delete>

<delete id="c_deleteData" parameterType="int">
	delete boardcomment where gNum=#{gNum}
</delete>




	
</mapper>