<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.sajo.image">

<insert id="insertData" parameterType="com.sajo.dto.ImageDTO">
	insert into image(imgNum,userId,saveFileName,originalFileName,tableName,uploadFileName)
	values(#{imgNum},#{userId},#{saveFileName},#{originalFileName},#{tableName},#{uploadFileName})
</insert>

<select id="maxNum" resultType="int">
	select nvl(max(imgNum),0) from image
</select>

<select id="dataCount" resultType="int">
	select nvl(count(*),0) from image
</select>

<select id="listData" resultType="com.sajo.dto.ImageDTO" parameterType="map">
<![CDATA[
	select * from (
	select rownum rnum, data.* from(
	select imgNum,userId,saveFileName,originalFileName
	from image order by imgNum desc) data)
	where rnum >= #{start} and rnum <= #{end}
]]>
</select>

<select id="readData" resultType="com.sajo.dto.ImageDTO" parameterType="int">
	select imgNum,userId,saveFileName,originalFileName 
	from image where imgNum=#{imgNum}
</select>

<delete id="deleteData" parameterType="int">
	delete image where imgNum=#{imgNum}
</delete>


</mapper>