<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.sajo.invent">
	<select id="getInventData" parameterType="int" resultType="com.sajo.dto.InventDTO">
	select * from (
	select rownum rnum, data.* from(
	select imgnum,gnum from ideagroup where gno=#{gNo} and boardname='idea') data) 
	where rnum=1 
	</select>
	<select id="getModelData" parameterType="int" resultType="com.sajo.dto.InventDTO">
	select * from (
	select rownum rnum, data.* from(
	select imgnum,gnum from ideagroup where gno=#{gNo} and boardname='3D') data) 
	where rnum=1 
	</select>
	<select id="getSketchData" parameterType="int" resultType="com.sajo.dto.InventDTO">
	select * from (
	select rownum rnum, data.* from(
	select imgnum,gnum from ideagroup where gno=#{gNo} and boardname='sketch') data) 
	where rnum=1 
	</select>
	<select id="getGno" parameterType="int" resultType="int">
	select nvl(gno,0) as gno from ideagroup where gnum=#{gNum}
	</select>
	
	<!-- 모든 데이터 -->
<select id="getLists" parameterType="hashMap" resultType="com.sajo.dto.GroupDTO">
	select * from (
	select rownum rnum, data.* from(
	select gNum,mId,gSubject,gHitCount,to_char(gCreated,'YYYY-MM-DD') gCreated
	from ideaGroup where gNo=#{gNo} and boardname=#{boardName} and ${searchKey} like '%' || #{searchValue} || '%'
	order by gNum desc) data)
<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
]]>
</select>



<!-- 데이터갯수 -->
<select id="getDataCount" parameterType="hashMap" resultType="int">
	select nvl(count(*),0) from ideaGroup
	where gNo=#{gNo} and boardname=#{boardName} and ${searchKey} like '%' || #{searchValue} || '%'
</select>


	
	
	
	</mapper>
	