<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.sajo.login.sql">
	<select id="getList" parameterType="String" resultType="com.sajo.dto.LoginDTO">
		select mid as userId,mpwd as userPwd from member where mid=#{userId}
	</select>
	<select id="getListId" parameterType="hashmap" resultType="com.sajo.dto.LoginDTO">
		select mid as userId,mpwd as userPwd from member where mname=#{userName} and memail=#{userEmail} 
	</select>
	</mapper>