<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.sajo.god.product.mapper">
	
<!-- pNum의 최대값 -->
<select id="p_maxNum" resultType="int">
	select nvl(max(pNum),0) from product	
</select>

<insert id="p_insertData" parameterType="com.sajo.dto.ProductDTO">
	insert into product (pNum,pCategory,pName,pPrice,pGrade,pHitCount,pContent,pStock,pImg)
	values (#{pNum},#{pCategory},#{pName},#{pPrice},0,0,#{pContent},#{pStock},#{pImg})
</insert>


<!-- 전체데이터 갯수 -->
 <select id="p_getDataCount" parameterType="hashMap" resultType="int">
	select nvl(count(*),0) from product
	where ${searchKey} like '%' || #{searchValue} || '%'
</select> 

<!-- 모든 데이터 -->
<select id="p_getLists" parameterType="hashMap" resultType="com.sajo.dto.ProductDTO">
	select * from (
	select rownum rnum, data.* from(
	select pNum,pCategory,pName,pPrice,pGrade,pHitCount,pContent,pStock,pImg
	from product where ${searchKey} like '%' || #{searchValue} || '%'
	order by pNum desc) data)
<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
]]>
</select>

<!-- 조회수 수정 -->
<update id="p_updateHitCount" parameterType="int">
	update product set pHitCount=pHitCount+1 where pNum=#{pNum}
</update>

<!-- 한개의 데이터 -->
<select id="p_getReadData" parameterType="int" resultType="com.sajo.dto.ProductDTO">
	select pNum,pCategory,pName,pPrice,pGrade,pHitCount,pContent,pStock,pImg from product where pNum=#{pNum}
</select>

<!--  카테고리 데이터 
<select id="p_getListsCategory" parameterType="hashMap" resultType="com.sajo.dto.ProductDTO">	
	select * from(
	select rownum rnum, data.* from (
	select pNum,pCategory,pName,pPrice,pGrade,pHitCount,pContent,pStock,pImg from product
	where pCategory='%' || #{pCategory} || '%' order by pCategory desc) data)
	<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
	]]>

</select> -->

<!-- 조회수 인기 데이터 -->
<select id="p_getListsHitCount" parameterType="hashMap" resultType="com.sajo.dto.ProductDTO">	
	select * from(
	select rownum rnum, data.* from (
	select pNum,pCategory,pName,pPrice,pGrade,pHitCount,pContent,pStock,pImg from product
	order by pHitCount desc) data)
	<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
	]]>
	
</select>

<!-- 추천 데이터 -->
<select id="p_getListsGrade" parameterType="hashMap" resultType="com.sajo.dto.ProductDTO">	
	select * from(
	select rownum rnum, data.* from (
	select pNum,pCategory,pName,pPrice,pGrade,pHitCount,pContent,pStock,pImg from product
	order by pGrade desc) data)
	<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
	]]>
	
</select>


<!-- 아이디어 조회수 인기 데이터 -->
<select id="p_getListsIdeaHitCount" parameterType="hashMap" resultType="com.sajo.dto.ProductDTO">	
	select * from(
	select rownum rnum, data.* from (
	select pNum,pCategory,pName,pPrice,pGrade,pHitCount,pContent,pStock,pImg from product
	where pCategory=#{pCategory} order by pHitCount desc) data)	
	<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
	]]>
	
</select>

<!-- 추천순 데이터 -->
<select id="p_getListsRecommand" parameterType="hashMap" resultType="com.sajo.dto.ProductDTO">	
	select * from(
	select rownum rnum, data.* from (
	select pNum,pCategory,pName,pPrice,pGrade,pHitCount,pContent,pStock,pImg from product
	order by pGrade desc) data)	
	<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
	]]>
	
</select>





<!-- ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ -->
<!-- ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ -->


<!-- 아이디어카테고리 -->


<!-- 카테고리 데이터 -->
<select id="p_getListsIdeaCategory" parameterType="hashMap" resultType="com.sajo.dto.ProductDTO">	
	select * from(
	select rownum rnum, data.* from (
	select pNum,pCategory,pName,pPrice,pGrade,pHitCount,pContent,pStock,pImg from product
	where pCategory like '%' || #{pCategory} || '%' order by pHitCount desc) data)	
	<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
	]]>
	
</select>





	
</mapper>