<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.sajo.purchase">

	<insert id="insertData" parameterType="com.sajo.dto.PurchaseDTO">
	insert into purchase (pcnum,bnum,pnum,pprice,pamount,pname,mid,maddr,bdate,state,retake)
	values (#{pcNum},#{bNum},#{pNum},#{pPrice},#{pAmount},#{pName},#{mId},#{mAddr},sysdate,#{state},#{retake})
	</insert>
	
	<select id="getLists"  parameterType="hashMap" resultType="com.sajo.dto.PurchaseDTO">
		select * from (
		select rownum rnum, data.* from (
		select pcnum,bnum,pnum,pprice,pamount,pname,mid,maddr,state,retake,to_char(bdate,'YYYY-MM-DD') bdate
		from purchase where pname like '%' || #{searchValue} || '%' and mid=#{userId}
		order by pcnum desc) data)
		<![CDATA[
		where rnum>=#{start} and rnum<=#{end}
		]]>
	</select>
	
	<select id="maxNum" resultType="int">
		select nvl(max(pcNum),0) from purchase
	</select>
	
	<select id="getDataCount" parameterType="hashMap" resultType="int">
		select nvl(count(*),0) from purchase
		where pname like '%' || #{searchValue} || '%'
	</select>
	
	<!-- id로 purchase테이블에첫번째 데이터 읽어오기 -->
	<select id="getBnums" parameterType="String" resultType="com.sajo.dto.PurchaseDTO">
		select * from (
		select rownum rnum, data.* from(
		select pcnum,bnum,pnum,pprice,pamount,pname,mid,maddr,state,retake,to_char(bdate,'YYYY-MM-DD') bdate
		from purchase where mid = #{mId} order by pcnum desc) data) where rnum = 1
	</select>
	
	<!-- id로 구매테이블에 있는 모든 데이터 읽어오기 -->
	<select id="getReadId" parameterType="String" resultType="com.sajo.dto.PurchaseDTO">
		select pcnum,bnum,pnum,pprice,pamount,pname,mid,maddr,bdate,state,retake
		from purchase where mid=#{mId}
	
	</select>
	
	<select id="getReadData" parameterType="int" resultType="com.sajo.dto.PurchaseDTO">
		select pcnum,bnum,pnum,pprice,pamount,pname,mid,maddr,bdate,state,retake
		from purchase where bnum=#{bNum}
	</select>
	
	<!-- <select id="getReadpcNum" parameterType="int" resultType="com.sajo.dto.PurchaseDTO">
		select pcnum
		from purchase where bnum=#{bNum}
	</select> -->

	<update id="updateData" parameterType="int" >
		update purchase set state='결제완료' where bnum=#{bNum}

	</update>
	
	<delete id="deleteData" parameterType="int">
		delete purchase where pcnum=#{pcNum}
	</delete>
</mapper>